name: Test

on:
  workflow_dispatch:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]
jobs:
  test:
    runs-on: ubuntu-latest
    environment: testing
    concurrency:
      group: testing
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: llvm-tools-preview
      - uses: taiki-e/install-action@cargo-llvm-cov
      - uses: taiki-e/install-action@nextest
      - name: Retrieve cache
        uses: Leafwing-Studios/cargo-cache@v2
      - name: Generate code coverage
        env:
          RUST_LOG: info
        run: cargo llvm-cov --all-features --workspace --lcov --output-path lcov.info nextest --retries 2 --no-fail-fast
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: yourssu/ssufid
          files: lcov.info
          fail_ci_if_error: true
